/* Write some CSS below */


body {
    background-color: #231B26;
    background-size: cover;
    font-size: 16px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;

}

/* header */

header {
    display:  grid;
    grid-template-columns: auto 1fr auto;
    color: #fff;
    align-items: center;
    padding: 0px 25px 5px 10px; 
    width: 100%;
    box-sizing: border-box;

}

h1 {

    font-size: 36px;
}

.freeke-logo img {
    height: 95px;
    
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    gap: 200px;
    justify-self: end;
}


nav ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 50px; 
    margin: auto;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: bold; 
    font-size: 17px;
}

.page-nav-secition {
    padding: 10px;


}

.subscription {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px; 
}

#sign-up-btn {
    background-color: #D61974; 
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 18px;  
}


#sign-in-btn {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border: solid white;
    border-radius: 18px;  
}

#sign-up-btn,
#sign-in-btn {
    display: inline-block;
    max-width: 150px; 
    width: 80%;
    margin: 0 auto; 
}


/* highlight header */

nav ul li a:hover {
    color: #e82182; 
    transition-duration: 0.15s;
    transform: translate(0px, 1px);
}

#sign-up-btn:hover {
    opacity: 0.8;
    transition-duration: 0.2s;
}

#sign-in-btn:hover {
    background-color: transparent;
    color: #e82182;
    border: solid rgb(232, 33, 130);
    transition-duration: 0.20s;
}


/* main section */


.main-section-freeke-coins {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
    gap: 20px;
}


.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    padding: 0px;
    color: white;
    background-size: cover;
    background-position: center;
}


.background-picture-product {
    justify-self: start; 
  }

#desktop-feature {
    width: 100%;
    height: 500px;
}



.main-section-description {
    justify-self: end; 
    padding: 0 100px 0 10px ;
    line-height: 1.4;


  }


.btn-download-now {

    background-color: #D61974; 
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 18px; 

}
  

.btn-download-now:hover {
    background-color: #FF914D;
    color: #fff4dc;
    transition-duration: 0.3s;
}

/* value proposition section */

h2 {
    text-shadow: 5px 5px 10px rgb(232, 33, 130, 0.443);
    font-size: 28px;
    margin: 50px 0px ;

}

h3 {
    font-size: 22px;

}



.value-proposition-section {
    text-align: center;
    padding: 20px;
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 0px;
    margin-bottom: 100px;
}

.card-white {
    background: #322736;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.743);
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    transition: transform .2;
}

.card-white li {
    text-align: left;
    line-height: 2;
    
}


.card-white img {
    width: 100%;
    height: auto;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 0px 10px 20px -100px rgba(0, 0, 0, 0.743);

}

.card-white:hover {
    transition-duration: 0.25s;
    transform: scale(1.02);
    box-shadow: 0px 1px 20px 5px #b0186171


}

/* Q&A */

.faq-container h2 {
    text-align: center;
}

.faq-container {
    padding: 2rem;
    background-color: #E8A468;
    text-align: left;
  
  }

.accordion-toggle {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordion-label {
    position: relative;
    display: block;
    padding: 1em 0;
    color: black; 
    font-size: 1.15rem;
    font-weight: 400;
    background: none;
    cursor: pointer;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
    line-height: 1.5;
    box-shadow: 20px 10px 50px 1px rgba(185, 64, 16, 0.497);
    padding: 0px 10px;

}

.accordion-toggle:checked + .accordion-label + .accordion-content {
    max-height: 1000px; 
}

.accordion-item {
    box-shadow: 0px 10px 15px 1px rgba(185, 64, 16, 0.497);
    gap: 10px; 
    padding: 0px 10px;

}



/* CTA section */


.second-cta-section h2 {
    text-shadow: 5px 5px 10px rgb(232, 33, 130, 0.443);
    font-size: 28px;
    margin: 50px 0px ;
    color: white;


}


.second-cta-section {
    padding-top: 10px ;
    padding-bottom: 50px ;
}


.cta-content h2 {
    margin-bottom: 20px;
}

.cta-button {
    background-color: #D61974;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}




.cta-button:hover {
    background-color: #FF914D;
    color: #fff4dc;
    transition-duration: 0.3s;
}


/* footer */

footer {
    text-align: center;
    background: #231B26;
    color: white;
    padding: 10px;
}

#legal-notice {
    text-decoration: none;
    color: #D61974;

}